<%= render partial: "layouts/hero" %>

<%= render partial: "layouts/topic_card", locals: { topic: @topic, shadowless: true } %>

<div class="timeline">
  <div class="timeline__header">vart är ärendet just nu?</div>
  <div class="timeline__line"></div>
  <div class="timeline__steps">
    <% ['förslag', 'beredning', 'debatt', 'beslut'].each do |step| %>
      <div class="timeline__step">
        <div class="timeline__dot<%= " timeline__dot--active" if @doctypes.include? step %>"></div>
        <div class="timeline__label"><%= step %></div>
      </div>
    <% end %>
  </div>

  <div class="summary__header">Samanfattning</div>
  <p class="summary__content">
    <%= @topic.summary %>
  </p>
  <% prng = Random.new %>
  <div class="summary__header">Dokumentlista</div>
  <div class="document__content">
    <a href="#">Kommitédirektiv</a>, 1 st.<br>
    <a href="#">Statens offientliga utredning</a>, 1 st.<br>
    <a href="#">Remissvar</a>, <%= prng.rand(1...3) %> st.<br>
  </div>
</div>
