<div class="topic_card">
  <div class="topic_card__pre-title">
    <%= topic.topic.upcase %><%= " | #{topic.created_at}" if topic.created_at %>
  </div>
  <div class="topic_card__title">
    <%= topic.title %>
  </div>
  <div class="topic_card__actions">
    <div class="topic_card__stage">
      <%= topic.stage %>
    </div>
    <%= render partial: 'layouts/follow_button', locals: { topic_id: topic.doc_id, is_following: @user_topic_subscriptions.map(&:topic_id).include?(topic.doc_id) } %>
  </div>
</div>
