<!DOCTYPE html>
<html>
  <head>
    <title>H4s2018Frontend</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="app_content">
      <%= yield %>
    </div>
    <%= javascript_tag do %>
      window._notification_public_key = "<%= ENV['NOTIFICATION_PUBLIC_KEY'] %>";
      window._sw_pack_path = "<%= asset_pack_path 'sw.js' %>";
    <% end %>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
